---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title::before {
	display: inline-block;
    width: 1.4em;
    height: 1.4em;
	margin-right: 0.3em;
	position: relative;
    content: "";
	background: url("/assets/Logo.png") no-repeat 0 0;
    background-size: 100%;
	top: 0.3em;
}